// ant-btn
.ant-button {
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

// ant-drawer
.ant-drawer-body {
  padding: 0px !important;
  border: none !important;
  overflow: hidden !important;
}

// ant-input group
.ant-input-group-addon {
  padding: 0 !important;
  overflow: hidden !important;
}
